*.sa
*.rebx
*.o
*.so
*.pyc
*.pdf
*.bin
*.swp
*.cproject
*.project
*.settings
*.txt
*.png
*.gif
*.csv
*.pkl
*.fits

# OS / editor
.DS_Store

# Python build artifacts
__pycache__/
*.egg-info/
dist/
build/
.ipynb_checkpoints/